<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 테일윈드 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Member Signup</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-6">Member Signup</h2>

    <!-- 회원가입 폼 -->
    <form action="/member/join" method="post">
        <div class="mb-4">
            <label for="nickname" class="block text-sm font-medium text-gray-600">Nickname</label>
            <input type="text" id="nickname" name="nickname" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-600">Name</label>
            <input type="text" id="name" name="name" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
            <input type="password" id="password" name="password" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <div class="mb-4">
            <label for="confirmPassword" class="block text-sm font-medium text-gray-600">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">Sign Up</button>
    </form>
</div>

</body>
</html>
