<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 테일윈드 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Member Login</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-6">Member Login</h2>

    <!-- 로그인 폼 -->
    <form th:action="@{/member/login}" method="post">


        <div class="mb-4">
            <label for="nickname" class="block text-sm font-medium text-gray-600">Nickname</label>
            <input type="text" id="nickname" name="nickname" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
            <input type="password" id="password" name="password" required
                   class="mt-1 p-2 w-full border rounded-md bg-white">
        </div>

        <div class="flex items-center">
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-md ">Login</button>

            <div th:if="${param.error}" class="ml-2 text-red-500 text-sm">
                <div>
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
        </div>
    </form>

    <!-- 회원가입 버튼 -->
    <p class="mt-4 text-center">
        Don't have an account? <a th:href="@{/member/join}" class="text-blue-500">Sign up</a>
    </p>
</div>

</body>
</html>
