<!-- css bootstrap -->
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
    <style>
        .profile-image-placeholder {
            background-color: #E2E8F0; /* Tailwind color gray-200 */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: #64748B; /* Tailwind color gray-400 */
        }
    </style>

    <div class="container"> <!-- Light theme background -->
        <div class="min-h-screen flex flex-col items-center justify-center">
            <div class="bg-white shadow-lg rounded-lg p-8 m-4 w-full max-w-xs">
                <div class="profile-image-placeholder h-32 w-32 rounded-full mx-auto mb-4">
                    <!-- Placeholder content -->
                    <span>이미지</span>
                </div>
                <div class="text-center mb-4">
                    <p class="text-gray-700 font-semibold text-lg" th:text="${member.nickname}">UserNickname</p>
                </div>
<!--                수정 버튼 비활성화-->
<!--                <div class="text-center">-->
<!--                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"-->
<!--                            type="button">-->
<!--                        수정-->
<!--                    </button>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>