<html>
<head>
</head>
<body class="bg-gray-100">

<th:block th:fragment="pagination(itemPage, queryStrBase, pageArmSize)">
    <div class="pagination flex gap-2"
         th:if="${itemPage.totalPages > 0}"
         th:with="page=${itemPage.number + 1}">

        <a th:href="|?${queryStrBase}&page=1|"
           th:classappend="${page == 1} ? 'bg-blue-500 text-white active' : 'text-gray-700'"
           class="py-2 px-4 rounded transition duration-300 hover:bg-blue-600"
        >1</a>

        <th:block th:if="${itemPage.totalPages > 1}">
            <a th:href="|?${queryStrBase}&page=${page - pageArmSize - 1}|"
               th:if="${page - pageArmSize > 2}"
               class="ellipsis text-gray-700"
            >...</a>

            <th:block th:if="${itemPage.totalPages > 2}">
                <a th:each="num : ${#numbers.sequence(2, itemPage.totalPages - 1)}"
                   th:if="${num >= page - pageArmSize and num <= page + pageArmSize}"
                   th:href="|?${queryStrBase}&page=${num}|"
                   th:text="${num}"
                   th:classappend="${num == page ? 'bg-blue-500 text-white active' : 'text-gray-700'}"
                   class="py-2 px-4 rounded transition duration-300 hover:bg-blue-600"
                ></a>
            </th:block>

            <a th:href="|?${queryStrBase}&page=${page + pageArmSize + 1}|"
               th:if="${page + pageArmSize < itemPage.totalPages - 1}"
               class="ellipsis text-gray-700"
            >...</a>

            <a th:href="|?${queryStrBase}&page=${itemPage.totalPages}|"
               th:classappend="${page == itemPage.totalPages} ? 'bg-blue-500 text-white active' : 'text-gray-700'"
               class="py-2 px-4 rounded transition duration-300 hover:bg-blue-600"
               th:text="${itemPage.totalPages}"
            ></a>
        </th:block>
    </div>
</th:block>
</body>
</html>