<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container">
    <!-- content -->
    <div class="container mx-auto mt-8">
        <div class="bg-white p-8 rounded-md shadow-md">
            <h1 class="text-3xl font-bold mb-4" th:text="${post.title}">제목</h1>
            <p class="text-gray-600 mb-4"
               th:text="${post.author.nickname} + ' | ' + ${#temporals.format(post.regiDate, 'yyyy.MM.dd')}">작성자
                | 등록일</p>

            <div class="card-text" style="white-space: pre-line;" th:text="${post.content}"></div>
        </div>
        <div class="my-3">
            <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.nickname}"
               th:text="수정"></a>

            <a href="javascript:void(0);" th:data-uri="@{|/post/${post.id}/delete|}"
               class="delete btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.nickname}"
               th:text="삭제"></a>
        </div>

    </div>
    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
                ;
            });
        });
    </script>
</html>