<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE admin" th:text="${@appConfig.siteName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

<header layout:fragment="header" class="bg-blue-500 text-white p-4">
    <h1 class="text-2xl font-semibold" th:text="|${@appConfig.siteName} 관리자|"></h1>

    <nav class="space-x-4">
        <a href="/" class="hover:underline">홈</a>
        <a href="/adm" class="hover:underline">관리자 홈</a>
        <a href="/adm/home/about" class="hover:underline">관리자 설명</a>
        <a href="/adm/home/memberManage" class="hover:underline">회원 관리</a>
        <a href="/member/logout" class="hover:underline">로그아웃</a>
    </nav>
</header>

</body>

</html>